:root{
  --body-bg: rgba(217, 217, 217, 1);
  --panel-bg: #202931;
  --panel-border: #7c8389;

  --text-base: #7c8389;
  --text-light: #ececec;
  --text-accent: #36c77b;
  --text-button: #ffffff;

  --ui-color-1: #36c77b;
  --ui-color-2: #0080ff;
  --ui-color-3: #fb5240;

  --ui-color-1-hover: #36C738;
  --ui-color-2-hover: #2196f3;
  --ui-color-3-hover: #b71c1c;

  --font-large: 20px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-extra-small: 14px;
}

body{
  font-family: sans-serif;
  font-size: var(--font-regular);
  color: var(--text-base);
  background-color: var(--body-bg);
}

li{
  list-style-type: none;
}

a {
  color: var(--text-base);
  text-decoration: none;
}

button{
  outline: 0;
}

.ui-title{
  font-size: var(--font-large);
  width: 100%;
  padding-top: 10px;
  color: var(--text-light);
}

.ui-title::after{
  content: '';
  color: var(--text-base);
  display: block;
  border-bottom: 1px solid var(--panel-border);
  width: 45%;
  padding-top: 5px;
}

.ui-title .ui-title__text{
  margin-left: 10px;
}

.ui-separator{
  height: 1px;
  width: 70%;
  background-color: var(--panel-border);
  margin: 30px auto;
  margin-bottom: 70px;
}

.ui-panel{
  margin: 20px 0;
  padding: 10px 30px;
  border: 1px solid var(--panel-border);
  border-radius: 5px;
  background: var(--panel-bg);
}
.ui-row{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.ui-formgroup{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.ui-label{
  font-size: var(--font-extra-small);
  margin-bottom: 5px;
  margin-left: 5px;
}
.ui-input{
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--text-base);
  border-bottom: 1px solid var(--panel-border);
  padding: 5px 5px;
  transition: 0.2s ease;
}
.ui-input:focus{
  color: var(--ui-color-2);
  border-color: var(--ui-color-2);
}
.ui-button{
  text-transform: uppercase;
  background: var(--ui-color-2);
  color: var(--text-button);
  padding: 10px 10px;
  margin-right: 10px;
  border: 1px solid var(--ui-color-2);
  border-radius: 3px;
  transition: .3s ease;
}
.ui-button:hover{
  background: var(--ui-color-2-hover);
  border-color: var(--ui-color-2-hover);
  cursor: pointer;
}
.ui-button.ui-button--danger{
  background-color: var(--ui-color-3);
  border-color: var(--ui-color-3);
}
.ui-button.ui-button--danger:hover{
  background-color: var(--ui-color-3-hover);
  border-color: var(--ui-color-3-hover);
}
.margin-top-remove{
  margin-top: 0;
}
.margin-bottom-remove{
  margin-bottom: 0;
}
.margin-left-remove{
  margin-left: 0;
}
.margin-right-remove{
  margin-right: 0;
}

.main-wrapper{
  display: flex;
  justify-content: center;
}
.taskboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.taskboard__task-panel{
  padding-left: 0;
}
.task-panel__task-item{
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--panel-border);
  border-radius: 5px;
}

.task-item__task-content{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.task-item__delete-task-button{
  background-color: var(--ui-color-1);
  border-color: var(--ui-color-1);
}

.task-item__delete-task-button:hover{
  background: var(--ui-color-1-hover);
  border-color: var(--ui-color-1-hover);
}

.task-content__task-title{
  padding-bottom: 5px;
  font-weight: 700;
  color: var(--text-light);
}

.task-content__task-notes{
  font-size: var(--font-extra-small);
  text-align: justify;
}
